{% extends "master.html" %}

{% block title %}
  BookList
{% endblock %}

{% block content %}
 <h1>Book List</h1>
    <ul>
        {% for book in books %}
            <li>{{ device.type }} by {{ device.vendor }}</li>
        {% empty %}
            <li>No device available.</li>
        {% endfor %}
    </ul>

    <!-- Pagination controls -->
    {% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first page</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Stránka {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last page &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endif %}
{% endblock %}