{% extends "master.html" %}

{% block title %}
  Home
{% endblock %}

{% block content %}
<h1>Home Page</h1>

<div class="card text-bg-info p-3" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body text-bg-dark p-3">
    <h5 class="card-title text-bg-light p-3">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock %}